{% extends "src/base.html" %}

{% block slides %}
{% include "src/title.html" %}
{% include "src/operations.html" %}
{% include "src/union.html" %}
{% include "src/intersection.html" %}
{% include "src/complement.html" %}
{% include "src/difference.html" %}
{% include "src/symmetric_difference.html" %}
{% include "src/partition.html" %}
{% include "src/product.html" %}
{% include "src/ordered_pair.html" %}
{% include "src/cartesian_product.html" %}
{% include "src/generalized_cartesian_product.html" %}
{% endblock %}